<div class="card-principal">
  <h2>Crear correo</h2>
  <form [formGroup]="correoForm" (ngSubmit)="crear()">
    <div>
      <div>
        <label>Id de usuario: <strong>{{token}}</strong></label>
      </div>
    </div>
    <div>
      <div validar>
        <mat-form-field>
          <mat-label>Título del correo:</mat-label>
          <input matInput type="text" formControlName="title" class="form-control" name="title" id="title">
        </mat-form-field>
      </div>
    </div>
    <div>
      <div validar>
        <mat-form-field>
          <mat-label>Descripción del correo:</mat-label>
          <input matInput type="text" formControlName="body" class="form-control" name="body" id="body">
        </mat-form-field>
      </div>
    </div>
    <button matTooltip="Guardar correo" [disabled]="correoForm.invalid" mat-raised-button color="primary" id="botonGuardar">Guardar</button>
  </form>
</div>
