.loading {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background: rgba(0,0,0,.5);
    position: absolute;
    z-index: 1000;
  }
  
  img {
    display: flex;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    top: 20%;
    left: 40%;
    width: 10%;
  }